<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Record Your Brewing Records</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <ul class="nav nav-pills">
    <li role="presentation"><a href="/brew/">View Brew</a></li>
    <li role="presentation"><a href="/brew/add">Add Brew</a></li>
  </ul>
</header>
<main>
  <%= yield %>
</main>
<footer></footer>
</body>
</html>